*{
    padding: 0;
    margin:0;
}

body{
    background: url("../images/bgi.jpg");
    background-size: cover;
}

#logo{
    height:auto;
    width:4rem;
    margin-left:10%;
    margin-top: 16px;

}

header{
    background-color: black;
    height:4em;
}

.head-tag{
    float:right;
    margin-top: -35px;
    margin-right: 55px;
}

.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding:8px;
    margin-right: 10px;
    font-size: 14px;
}

.head-tag a:hover{
    color:black;
    background-color: teal;
    transition: 0.5s ease-in-out;
}
.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding:50px;
    margin-top: 50px;
    margin-left: 350px;
}
.sidebar li{
    list-style-type: square;
    margin-bottom: 5px;
}
/* form */
.login{
    float:right;
    border:2px solid red;
    background-color: beige;
    height:15em;
    margin-top: 2%;
    margin-right: 2%;
    padding:30px;
}

.login h2{
    text-align: center;
}

.login input{
    height: 1.5em;
}

#login-button{
    width:100%;
    height:1.5em;
    color:white;
    background-color: dodgerblue;
    border:1px solid dodgerblue;
}

.container{
    margin-top: 6%;
    margin-left: 1.25%;
}
.p-box{
    border:3px solid white;
    width:23%;
    float:left;
    margin-left: 10px;
    background-color: #ccc;
    height: 15em;
    padding:5px;
    font-size: 16px;
    
}
.p-box h3{
    text-align: center;
}
.p-box p{
    line-height: 1.25em;
    text-align: justify;
}

.p-box a{
text-decoration: none;     
color:red;
}
footer{
    background-color: black;
    color:white;
    height:1.5em;
    margin-top: 25%;
    text-align: center;
}
